<div class="stylstudy">
	<div class="container">
		<div class="stylstudy__wrap">
			<div class="stylstudy__head">
				<div>
					<h2 data-aos="fade-left">К нашим стилистам <br> приходят учиться</h2>
					<p data-aos="fade-left">Академия PROпорция с 2011 года обучает парикмахеров.
						183 стилиста работают по нашей методике.
						Каждый год привозим тренды с мировых событий.
						Каждый месяц исследуем новые цвета и формы
					</p>
				</div>

				<div>
					<img data-aos="fade-right" alt="IMG" src="img/logoal.png" srcset="img/logoal@2x.png 2x, img/logoal@3x.png 3x">
				</div>
			</div>

			<div class="teacher-scroll" data-aos="fade-up">
				<div class="teacher">
					<div class="teacher__item">
						<div class="teacher__img">
							<img alt="IMG" src="img/teacher-1.png" srcset="img/teacher-1@2x.png 2x, img/teacher-1@3x.png 3x">
						</div>

						<div class="teacher__info">
							<b>Виктор Шиферсон</b>
							<p>сооснователь, совладелец, креативный директор студии красоты Пропорция</p>
						</div>

						<p>Мастер международного класса, парикмахер-стилист, автор курсов повышения квалификации в компании
							LAIMALUX, тренер-преподаватель LAIMALUX</p>
					</div>

					<div class="teacher__item">
						<div class="teacher__img">
							<img alt="IMG" src="img/teacher-2.png" srcset="img/teacher-2@2x.png 2x, img/teacher-2@3x.png 3x">
						</div>

						<div class="teacher__info">
							<b>Мила Пажитнова</b>
							<p>сооснователь, совладелец, креативный директор Пропорция Hair School, креативный директор
								студии красоты Пропорция</p>
						</div>

						<p>Мастер международного класса, парикмахер-стилист, эксперт-колорист, автор курсов "Cut&Color
							Foundation", "Колористика Нестандарт", "транс.FORMA", PRO.сто, PRO.фи, PRO.стиль</p>
					</div>
				</div>
			</div>

			<div class="studyslide" data-aos="fade-up">
				<div class="studyslide__item">
					<i>
						<img alt="IMG" src="img/studyslide-1.jpg" srcset="img/studyslide-1@2x.jpg 2x, img/studyslide-1@3x.jpg 3x">
					</i>
					<p>Академия PROпорция с 2011 года обучает парикмахеров. 183 стилиста работают по нашей методике.
						Каждый год привозим тренды с мировых событий. Каждый месяц исследуем новые цвета и формы</p>
				</div>

				<div class="studyslide__item">
					<i>
						<img alt="IMG" src="img/studyslide-2.jpg" srcset="img/studyslide-2@2x.jpg 2x, img/studyslide-2@3x.jpg 3x"></i>
					<p>Академия PROпорция с 2011 года обучает парикмахеров. 183 стилиста работают по нашей методике.
						Каждый год привозим тренды с мировых событий. Каждый месяц исследуем новые цвета и формы</p>
				</div>

				<div class="studyslide__item">
					<i>
						<img alt="IMG" src="img/studyslide-3.jpg" srcset="img/studyslide-3@2x.jpg 2x, img/studyslide-3@3x.jpg 3x"></i>
					<p>Академия PROпорция с 2011 года обучает парикмахеров. 183 стилиста работают по нашей методике.
						Каждый год привозим тренды с мировых событий. Каждый месяц исследуем новые цвета и формы</p>
				</div>

				<div class="studyslide__item">
					<i>
						<img alt="IMG" src="img/stylist-img-min-3.jpg" srcset="img/stylist-img-min-3@2x.jpg 2x, img/stylist-img-min-3@3x.jpg 3x"></i>
					<p>Академия PROпорция с 2011 года обучает парикмахеров. 183 стилиста работают по нашей методике.
						Каждый год привозим тренды с мировых событий. Каждый месяц исследуем новые цвета и формы</p>
				</div>

				<div class="studyslide__item">
					<i>
						<img alt="IMG" src="img/repimg-1.jpg" srcset="img/repimg-1@2x.jpg 2x, img/repimg-1@3x.jpg 3x"></i>
					<p>Академия PROпорция с 2011 года обучает парикмахеров. 183 стилиста работают по нашей методике.
						Каждый год привозим тренды с мировых событий. Каждый месяц исследуем новые цвета и формы</p>
				</div>

				<div class="studyslide__item">
					<i>
						<img alt="IMG" src="img/stylist-img-4.jpg" srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x"></i>
					<p>Академия PROпорция с 2011 года обучает парикмахеров. 183 стилиста работают по нашей методике.
						Каждый год привозим тренды с мировых событий. Каждый месяц исследуем новые цвета и формы</p>
				</div>
				<div class="studyslide__item">
					<i>
						<img alt="IMG" src="img/stylwork-1.jpg" srcset="img/stylwork-1@2x.jpg 2x, img/stylwork-1@3x.jpg 3x"></i>
					<p>Академия PROпорция с 2011 года обучает парикмахеров. 183 стилиста работают по нашей методике.
						Каждый год привозим тренды с мировых событий. Каждый месяц исследуем новые цвета и формы</p>
				</div>
				<div class="studyslide__item">
					<i>
						<img alt="IMG" src="img/teamslider-1@3x.jpg" srcset="img/teamslider-1@3x.jpg 2x, img/teamslider-1@3x.jpg 3x"></i>
					<p>Академия PROпорция с 2011 года обучает парикмахеров. 183 стилиста работают по нашей методике.
						Каждый год привозим тренды с мировых событий. Каждый месяц исследуем новые цвета и формы</p>
				</div>
			</div>
		</div>
	</div>
</div>
