.stylstudy {
	margin-top: 254px;

	@media(max-width: 1080px) {
		margin-top: 100px;
	}

	@media(max-width: 580px) {
		margin-top: 70px;
	}

	&__wrap {
		@media(max-width: 680px) {
			//width: calc(100% + 22px);
			flex-direction: column;
		}

		h2 {
			margin-bottom: 105px;

			@media (max-width: 992px) {
				margin-bottom: 60px;
			}
		}

		@media (max-width: 992px) {
			flex-wrap: wrap;
		}

		@media(max-width: 767px) {
			display: flex;
		}
	}

	&__head {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 105px;

		@media(max-width: 767px) {
			order: 1;
			margin-bottom: 44px;
		}

		@media(max-width: 680px) {

		}

		@media(max-width: 992px) {
			margin-bottom: 50px;
		}

		> div {
			&:first-child {
				padding-right: 20px;
			}
		}

		h2 {
			@media (max-width: 680px) {
				margin-bottom: 20px;
			}
		}

		img {
			width: 338px;

			@media (max-width: 992px) {
				width: 220px;
			}

			@media(max-width: 580px) {
				width: 105px;
			}
		}

		p {
			opacity: 0.77;
			font-size: 20px;
			font-weight: normal;
			line-height: 1.6;
			letter-spacing: normal;
			color: #1b1f26;
			width: 64%;

			@media (max-width: 992px) {
				width: 90%;
			}

			@media(max-width: 580px) {
				display: none;
			}
		}
	}
}


.teacher {
	display: flex;
	justify-content: space-between;

	@media (max-width: 680px) {
		width: 700px;
	}

	@media(max-width: 480px) {
		width: 544px;
	}

	&-scroll {

		@media(max-width: 767px) {
			order: 3;
		}

		@media (max-width: 680px) {
			overflow: auto;
			width: calc(100% + 44px);
			margin-left: -22px;
			padding-left: 22px;
		}
	}

	@media(max-width: 767px) {
		//order: 3;
		width: 100%;
		align-items: flex-start;
		margin-bottom: 60px;
	}

	@media (max-width: 680px) {
		position: relative;
		margin-top: 111px;

		&:after {
			content: "";
			width: calc(100% + 44px);
			margin-left: -22px;
			height: 100%;
			background-color: #fff;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		width: 48.6%;
		padding-right: 10px;

		position: relative;
		z-index: 2;

		@media (max-width: 992px) {
			display: block;
		}

		@media(max-width: 480px) {
			width: 258px;
			margin-right: 10px;
		}

		> p {
			width: 100%;
			opacity: 0.77;
			font-size: 18px;
			font-weight: normal;
			line-height: 1.78;
			letter-spacing: normal;
			color: #1b1f26;
			margin-top: 46px;

			@media (max-width: 992px) {
				margin-top: 20px;
			}

			@media(max-width: 680px) {
				font-size: 16px;
				line-height: 1.5;
				margin-top: 10px;
				margin-bottom: 44px;
			}
		}
	}

	&__img {
		width: 201px;
		height: 201px;
		object-fit: contain;
		box-shadow: -1px 3px 24px 0 rgba(0, 0, 0, 0.23);
		border-radius: 100%;
		overflow: hidden;

		@media(max-width: 1180px) {
			width: 150px;
			height: 150px;
		}

		@media (max-width: 680px) {
			width: 180px;
			height: 180px;
			margin-top: -96px;
		}

		img {
			width: 100%;

			@supports (object-fit: contain) {
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__info {
		flex: 1;
		padding-left: 70px;
		padding-top: 28px;

		@media(max-width: 1180px) {
			padding-left: 20px;
		}

		@media(max-width: 992px) {
			padding-left: 0;
			width: 100%;
			flex: auto;
		}

		@media(max-width: 680px) {
			padding-top: 32px;
		}

		b {
			font-size: 24px;
			font-weight: bold;
			line-height: 1.5;
			letter-spacing: normal;
			color: #1b1f26;

			display: inline-block;
			margin-bottom: 12px;

			@media (max-width: 680px) {
				font-size: 20px;
				margin-bottom: 0;
			}
		}

		p {
			font-size: 16px;
			font-weight: normal;
			line-height: 1.5;
			letter-spacing: normal;
			color: rgba(#1b1f26, 0.48);

			@media(max-width: 680px) {
				display: none;
			}
		}
	}
}


.studyslide {
	margin-top: 105px;
	margin-bottom: 155px;

	@media (max-width: 992px) {
		margin-top: 50px;
		margin-bottom: 50px;

	}

	@media(max-width: 680px) {
		width: calc(100% + 22px);
		//padding-right: 22px;
	}

	@media(max-width: 580px) {
		width: calc(100% + 22px);
	}

	@media(max-width: 767px) {
		order: 2;
		width: 100%;
		margin-top: 0;
		margin-bottom: 50px;
	}



	.slick-slide {
		margin-left: 30px;

		@media(max-width: 580px) {
			margin-left: 20px;
		}
	}

	.slick-list {
		margin-left: -30px;

		@media(max-width: 580px) {
			padding: 0 20% 0 0;
			margin-left: -20px;
		}

		@media(max-width: 400px) {
			padding: 0 20% 0 0;
		}
	}

	.slick-dots {
		margin-top: 116px;

		@media (max-width: 992px) {
			margin-top: 30px;
		}

		@media(max-width: 680px) {
			display: none !important;
		}
	}

	&__item {
		overflow: hidden;
		height: 264px;
		//height: auto;

		@media(max-width: 680px) {
			height: auto;
		}


		i {
			width: 100%;
			height: 100%;
			display: block;

			@media(max-width: 680px) {
				height: 250px;
				overflow: hidden;
				margin-bottom: 32px;

				img {
					height: 100%;
				}
			}

			@media(max-width: 480px) {
				height: 184px;
			}
		}

		img {
			max-width: 100%;
			width: 100%;

			@media(max-width: 680px) {
				box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.19);
			}

			@supports (object-fit: cover) {
				height: 100%;
				object-fit: cover;
				object-position: center center;
			}
		}

		p {
			display: none;

			@media(max-width: 680px) {
				display: block;
				//font-size: 16px;
				//font-weight: normal;
				//font-stretch: normal;
				//font-style: normal;
				//line-height: 1.5;
				//letter-spacing: normal;
				//color: #1b1f26;
			}
		}
	}
}
