.totop {
    width: 76px;
    height: 76px;
    background-color: #f1f1f2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    left: 22px;
    bottom: 30px;
    visibility: hidden;
    opacity: 0.3;
    pointer-events: none;
    transform: translateX(-200px);
    transition: .5s;
    z-index: 999;
    // filter: invert(100);

    @media(max-width: 580px) {
        padding: 5px;
        width: 55px;
        height: 55px;
        left: 22px;
        bottom: 15px;
        opacity: .8;
    }   
    
    @media(min-width: 581px) and (max-width: 1400px) {
        &.end {
            bottom: 140px;
        }
    }

    &:hover {
        opacity: .8;
    }

    @media(max-width: 1460px) {
        right: -90px;
    }

    // @media(max-width: 1380px) {
    //     display: none;
    // }

    span {
        text-align: center;
        color: #1b1f26;
    }

    svg {
        fill: #1b1f26;
    }

    &.active {
        visibility: visible;
        pointer-events: auto;
        // opacity: 1;
        transform: translate(0);

        @media(max-width: 1024px) {
            opacity: .5;
        }

        @media(max-width: 768px) {
            opacity: .8;
        }
    }
}