<div class="popup popup-postform" id="popup-postform">
	<div class="popup__wrap">
		<div class="popup-postform__img">
			<img src="img/stylist-img-1.jpg" alt="IMG" srcset="img/stylist-img-1@2x.jpg 2x, img/stylist-img-1@3x.jpg 3x">
		</div>

		<div class="popup-postform__content">
			<img src="ico/logo.png" alt="IMG" srcset="ico/logo@2x.png 2x, ico/logo@3x.png 3x">
			<h3>Спасибо, администратор перезвонит вам в ближайшее время</h3>
			{# <span>Наш менеджер свяжется с вами в ближайшее время </span> #}
		</div>
	</div>
</div>


<div class="popup popup--discount" id="popup--discount">
	<div class="popup__wrap">
		<form action="#">
			<h3>Получите скидку 15% на окрашивание</h3>
			<input class="phone" type="text" placeholder="+7 999 999 99 99" name="phone" required>
			<button class="btn" type="submit">Получить</button>
			<em>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</em>
		</form>

	</div>
</div>


<div class="popup popup--discount" id="popup--reg">
	<div class="popup__wrap">
		<form action="#">
			<h3>Записаться</h3>
			<input class="phone" type="text" placeholder="+7 999 999 99 99" name="phone" required>
			<button class="btn" type="submit">Записаться</button>
			<em>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</em>
		</form>

	</div>
</div>
