<div class="reghaircut">
	<div class="container">
		<div class="reghaircut__wrap">
			<div class="reghaircut__form" data-aos="fade-left">
				<h3>Запишись на стрижку +&nbsp;имиджирование</h3>
				<span>2 450 ₽ все включено</span>

				<form action="#">
					<input type="text" class="color-white phone" placeholder="+7 999 999 99 99" name="phone" required>

					<div class="header__btn-group">
						<button type="submit" class="btn">Записаться</button>
						<span>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</span>
					</div>
				</form>
			</div>
			<div class="reghaircut__img" data-aos="fade-right">
				<img alt="IMG" src="img/model-1.jpg" srcset="img/model-1@2x.jpg 2x, img/model-1@3x.jpg 3x">
				<img alt="IMG" src="img/model-2.jpg" srcset="img/model-2@2x.jpg 2x, img/model-2@3x.jpg 3x">
			</div>
		</div>
	</div>
</div>
