.bstylist {
	margin-top: 158px;

	@media(max-width: 992px) {
		margin-top: 60px;
	}

	@media(max-width: 767px) {
		margin-top: 50px;
	}

	@media(max-width: 580px) {
		margin-top: 105px;
	}

	&__wrap {
		padding-right: 100px;
		position: relative;

		@media(max-width: 1180px) {
			padding-right: 0;
		}

		h2 {
			position: absolute;
			left: calc(470px + 11%);
			top: 58px;

			@media(max-width: 1180px) {
				left: calc(50% + 20px);
			}

			@media(max-width: 680px) {
				position: relative;
				top: 0;
				left: 0;
				margin-bottom: 45px;
			}
		}

		.animitem {
			&.animitem-1 {
				top: 88px;
			}

			&.animitem-2 {
				top: 67%;
				left: -168px;
			}
		}
	}

	&__grid {
		//display: flex;
		//flex-wrap: wrap;
		//justify-content: space-between;

		.slick-slide {
			float: left !important;
		}

		@media(max-width: 680px) {
			width: calc(100% + 22px);
			padding-left: 22px;
		}

		@media(min-width: 681px) {
			zoom: 1;
			&:before,
			&:after {
				content: "";
				display: table;
			}
			&:after {
				clear: both;
			}

		}

		.slick-dots {
			display: none !important;
		}

		.slick-slide {
			margin-left: 20px;

			//@media(max-width: 580px) {
			//	margin-left: 4px;
			//}
		}

		.slick-list {
			margin-left: -20px;

			@media(max-width: 580px) {
				padding: 0 20% 0 0;
				//margin-left: -4px;
			}

			@media(max-width: 400px) {
				padding: 0 40% 0 0;
			}
		}
	}

	&__item {
		width: 470px;
		margin-bottom: 116px;
		float: right;
		outline: none;

		@media(min-width: 681px) {
			display: none;

			&.active {
				display: block;
			}
		}

		@media(max-width: 1180px) {
			width: calc(50% - 20px);
		}

		@media(max-width: 992px) {
			width: calc(50% - 10px);
			margin-bottom: 50px;
		}

		@media(max-width: 680px) {
			width: 256px;
			float: left;
			margin: 0;
		}

		//@media(max-width: 620px) {
		//	width: 240px;
		//}


		@media(min-width: 681px) {
			&:nth-child(odd) {
				float: left;
			}

			&:nth-child(2) {
				margin-top: 328px;

				@media(max-width: 992px) {
					margin-top: 250px;
				}

				@media(max-width:767px) {
					margin-top: 200px;
				}
			}
		}

		&-img {
			width: 100%;
			//height: 593px;
			overflow: hidden;

			@media(max-width: 1180px) {
				//height: 500px;

				img {
					width: 100%;
					max-width: 100%;
				}
			}

			@media(max-width: 580px) {
				height: 320px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center center;
				}
			}

			img {
				max-width: 100%;
				//height: 100%;
				display: block;
				will-change: auto;

				@media(max-width: 680px) {
					transform: none !important;
				}
			}
		}

		&-info {
			display: flex;
			justify-content: space-between;
			//align-items: center;
			margin-top: 37px;
			align-items: center;

			@media(max-width: 992px) {
				margin-top: 12px;
				flex-direction: column;
				align-items: flex-start;
			}

			@media(max-width: 680px) {
				margin-top: 24px;
			}

			.name {
				i {
					display: block;
					opacity: 0.41;
					font-size: 14px;
					font-weight: normal;
					line-height: 1.79;
					letter-spacing: normal;
					color: #292b34;

					@media(max-width: 992px) {
						line-height: 1.4;
					}

					@media(max-width: 680px) {
						display: inline-block;
						margin-bottom: 3px;
					}
				}

				span {
					font-size: 22px;
					font-weight: normal;
					line-height: 1.14;
					letter-spacing: normal;
					color: #1b1f26;

					@media(max-width: 992px) {
						margin-bottom: 5px;
						display: block;
					}

					@media(max-width: 680px) {
						margin-bottom: 12px;
						font-size: 18px;
					}
				}
			}

			.price {
				width: 170px;
				em {
					display: block;
					width: 100%;
					font-size: 14px;
					font-weight: normal;
					line-height: 2;
					letter-spacing: normal;
					color: #292b34;

					@media(max-width: 992px) {
						line-height: 1.4;
					}
				}
			}
		}

		&--mobile {
			display: block;
			@media(min-width: 681px) {
				display: none !important;
			}
		}
		
		&--desktop {
			display: none;
			@media(min-width: 681px) {
				display: block !important;
			}
		}

		&--discount {
			box-shadow: 2px 4px 28px 0 rgba(0, 0, 0, 0.25);
			background-color: #1b1f26;
			color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 20px;
			text-align: center;
			padding-top: 44px;
			padding-bottom: 84px;

			padding-top: 107px;

			@media(max-width: 992px) {
				//font-size: 15vw;
				padding-top: 40px;
				padding-bottom: 36px;
			}

			@media (max-width: 680px) {
				padding-top: 23px;
				padding-bottom: 30px;
			}

			@media(max-width: 580px) {
				height: 320px;
			}

			b {
				font-size: 54px;
				font-weight: 300;
				line-height: 0.87;
				text-align: center;
				color: #686673;

				display: inline-block;
				margin-bottom: 13px;
				margin-bottom: 32px;

				@media(max-width: 992px) {
					font-size: 5vw;
				}

				@media(max-width: 680px) {
					// font-size: 64px;
					margin-bottom: 16px;
				}
			}

			p {
				font-size: 22px;
				font-weight: 300;
				line-height: 1.27;
				text-align: center;
				color: #ffffff;
				// margin-bottom: 21px;
				padding: 0 10%;
				margin-bottom: 70px;
				margin-bottom: 102px;

				@media(max-width: 992px) {
					font-size: 18px;
					padding: 0;
					margin-bottom: 30px;
				}

				@media(max-width: 767px) {
					font-size: 16px;
				}

				@media(max-width: 680px) {
					font-size: 14px;
					line-height: 1.43;
					// margin-bottom: 25px;
					margin-bottom: 64px;
				}
			}

			em {
				font-size: 16px;
				font-weight: 300;
				opacity: 0.65;
				line-height: 1.75;
				letter-spacing: normal;
				text-align: center;
				color: #ffffff;
				margin-bottom: 70px;
				display: block;

				@media(max-width: 992px) {
					margin-bottom: 30px;
				}

				@media(max-width: 680px) {
					font-size: 14px;
					font-weight: 300;
					line-height: 2;
					margin-bottom: 15px;
					display: inline-block;
				}
			}

			.btn {
				@media(max-width: 680px) {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}
	}
}


.loadmore {
	margin-top: -349px;
	display: flex;
	justify-content: flex-end;
	width: 60%;
	float: right;

	&#{&}--even {
		width: 100%;
		justify-content: center;
		margin-top: 0px;
		float: none;

		.loadmore__wrap {
			.btn {
				width: 270px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 30px;
			}
		}
	}
	
	&__wrap {
		width: 570px;
		margin-right: -100px;

		@media(max-width: 1180px) {
			margin-right: 0;
			// width: calc(50% - 20px);
			//display: flex;
			//justify-content: center;
		}

		@media(max-width: 992px) {
			display: flex;
			justify-content: center;
		}
	}

	@media(max-width: 1180px) {
		width: calc(50% - 20px);
		position: relative;
		// left: 40px;
		//width: 100%;
		//margin-top: 0;
		//margin-right: 0;
		//justify-content: center;
	}

	@media(max-width: 992px) {
		left: 0;
	}

	@media(max-width: 992px) {
		width: 100%;
		margin-top: 0;
		display: flex;
		justify-content: center;
	}

	@media(max-width: 680px) {
		display: none !important;
		margin-top: 0;
		//float: none;
	}

	&__grid {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 2;

		@media(max-width: 992px) {
			display: none;
		}
	}

	&__item {
		width: calc(33.333% - 20px);
		//height: 216px;
		overflow: hidden;

		@media(max-width: 1180px) {
			width: calc(33.333% - 10px);
		}

		img {
			max-width: 768px;
			width: 100%;
			display: block;
		}
	}

	.btn {
		margin-top: 68px;

		@media(max-width: 1180px) {
			margin-top: 40px;
		}

		@media(max-width: 992px) {
			margin-top: 0px;
		}
	}
}
