<div class="bstylist" id="anchor-portofolio">
	<div class="container">
		<div class="bstylist__wrap">
			<h2 class="rellax" data-aos="fade-left" data-rellax-speed="1" data-rellax-percentage="0.01">Работы <br> cтилистов</h2>

			<div class="animitem animitem-1 half-hor2 rellax" data-rellax-speed="3" data-rellax-percentage="0.5"></div>
			<div class="animitem animitem-2 half-ver rellax" data-rellax-speed="3" data-rellax-percentage="0.5"></div>


			<div class="bstylist__grid">

				<div class="bstylist__item js__stylistitem active" data-aos="fade-left">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-1.jpg" 
							class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
							 srcset="img/stylist-img-1@2x.jpg 2x, img/stylist-img-1@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem active" data-aos="fade-right">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-2.jpg" 
							class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
							 srcset="img/stylist-img-2@2x.jpg 2x, img/stylist-img-2@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Людмила Пажитнова</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem active" data-aos="fade-left">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-3.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
							 srcset="img/stylist-img-3@2x.jpg 2x, img/stylist-img-3@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name"  data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price"  data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem active" data-aos="fade-right">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-4.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
							 srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				{# Discount #}
				<div class="bstylist__item bstylist__item--discount bstylist__item--mobile">
					<b>-15%</b>
					<p>Запишитесь к стилисту прямо сейчас и получите скидку 15% на окрашивание</p>
					<em>акция действует до 25.12</em>
					<a href="#popup--discount" data-fancybox class="btn">
						<span>Записаться</span>
					</a>
				</div>


{#				=====================================#}
{#				=====================================#}
				<div class="bstylist__item js__stylistitem" data-aos="fade-left">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-4.jpg" 
						class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-right">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-4.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-left">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-2.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-2@2x.jpg 2x, img/stylist-img-2@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-right">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-4.jpg" 
						class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				{# Discount #}
				<div class="bstylist__item bstylist__item--discount bstylist__item--mobile" data-aos="fade-left">
					<b>-15%</b>
					<p>Запишитесь к стилисту прямо сейчас и получите скидку 15% на окрашивание</p>
					<em>акция действует до 25.12</em>
					<a href="#popup--discount" data-fancybox class="btn">
						<span>Записаться</span>
					</a>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-right">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-4.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-left">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-2.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-2@2x.jpg 2x, img/stylist-img-2@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-right">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-4.jpg" 
						class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-left">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-4.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				{# Discount #}
				<div class="bstylist__item bstylist__item--discount bstylist__item--mobile" data-aos="fade-right">
					<b>-15%</b>
					<p>Запишитесь к стилисту прямо сейчас и получите скидку 15% на окрашивание</p>
					<em>акция действует до 25.12</em>
					<a href="#popup--discount" data-fancybox class="btn">
						<span>Записаться</span>
					</a>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-left">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-2.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-2@2x.jpg 2x, img/stylist-img-2@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-right">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-4.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-left">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-2.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-2@2x.jpg 2x, img/stylist-img-2@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-right">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-4.jpg" 
						class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				{# Discount #}
				<div class="bstylist__item bstylist__item--discount bstylist__item--mobile" data-aos="fade-left">
					<b>-15%</b>
					<p>Запишитесь к стилисту прямо сейчас и получите скидку 15% на окрашивание</p>
					<em>акция действует до 25.12</em>
					<a href="#popup--discount" data-fancybox class="btn">
						<span>Записаться</span>
					</a>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-right">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-4.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>

				<div class="bstylist__item js__stylistitem" data-aos="fade-left">
					<div class="bstylist__item-img">
						<img alt="IMG" src="img/stylist-img-2.jpg" class="rellax" data-rellax-speed="-2"
							data-rellax-percentage="0.5"
								srcset="img/stylist-img-2@2x.jpg 2x, img/stylist-img-2@3x.jpg 3x">
					</div>

					<div class="bstylist__item-info">
						<div class="name" data-aos="fade-up">
							<i>Стилист</i>
							<span>Виктор Шиферсон</span>
						</div>

						<div class="price" data-aos="fade-up">
							<em>Стрижка - 3 000 ₽</em>
							<em>Окрашивание - 12 000 ₽</em>
						</div>
					</div>
				</div>
{#				=====================================#}
{#				=====================================#}


				<div class="bstylist__item bstylist__item--discount bstylist__item--desktop active" data-aos="fade-right">
					<b>-15%</b>
					<p>Запишитесь к стилисту прямо сейчас и получите скидку 15% на окрашивание</p>
					<em>акция действует до 25.12</em>
					<a href="#popup--discount" data-fancybox class="btn">
						<span>Записаться</span>
					</a>
				</div>
			</div>

			<div class="loadmore" data-aos="fade-up">
				<div class="loadmore__wrap">
					<div class="loadmore__grid">
						<div class="loadmore__item">
							<img alt="IMG" src="img/bitmap-copy-10.jpg"
								 srcset="img/bitmap-copy-10@2x.jpg 2x, img/bitmap-copy-10@3x.jpg 3x">
						</div>
						<div class="loadmore__item">
							<img alt="IMG" src="img/bitmap-copy-12.jpg"
								 srcset="img/bitmap-copy-12@2x.jpg 2x, img/bitmap-copy-12@3x.jpg 3x">
						</div>
						<div class="loadmore__item">
							<img alt="IMG" src="img/bitmap-copy-11.jpg"
								 srcset="img/bitmap-copy-11@2x.jpg 2x, img/bitmap-copy-11@3x.jpg 3x">
						</div>
					</div>

					<div class="btn btn--border js__more-article">
						<span>Больше работ</span>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
