<header class="header">
	<div class="container-max">
		<div class="header__wrap">
			<div class="header__info">
				<div class="header__regonline rellax" data-aos="fade-right">
					<a href="#popup--reg" data-fancybox>Записаться on-line</a>
				</div>
				<h1
					class="rellax"
					data-aos="fade-right"
				>PROпорция — <br> это студия <br> красоты</h1>

				<form action="#" class="rellax" data-aos="fade-right">
					<input type="text" class="phone" placeholder="+7 999 999 99 99">

					<div class="header__btn-group">
						<button type="submit" class="btn">Перезвоните мне</button>
						<span>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</span>
					</div>
				</form>

				<div class="header__contact rellax" 
					data-rellax-speed="1" 
					data-rellax-percentage="0.1"
					data-aos="fade-right">
					<div>
						<span class="text-dec-line">Санкт-Петербург</span>
					</div>
					<div>
						<em>м. Технологический институт <br> Клинский проспект 24</em>
						<em>м. Спортивная <br> Ждановская набережная, 3 </em>
					</div>
				</div>
			</div>

			<div class="header__img">
				<img
					src="img/head-img.jpg"
					srcset="img/head-img@2x.jpg 2x, img/head-img@3x.jpg 3x"
					class="lax"
					data-aos="fade-left"
					data-lax-scale="(vh) 1.15, (vh*0.2) 1"
					alt="IMG"
				>
			</div>
		</div>
	</div>
</header>
