<header class="header">
	<div class="container-max">
		<div class="header__wrap">
			<div class="header__info">
				<h1>PROпорция — это студия красоты</h1>

				<form action="">
					<input type="text" placeholder="+7 999 999 99 99">

					<div>
						<button type="submit" class="btn">Перезвоните мне</button>
						<span>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</span>
					</div>
				</form>
			</div>
			<img src="img/head-img.jpg" srcset="img/head-img@2x.jpg 2x, img/head-img@3x.jpg 3x">
		</div>
	</div>
</header>
