<div class="teamstyl" id="anchor-about">
	<div class="container">
		<div class="teamstyl__wrap">
			<h2 data-aos="fade-left">Звездная команда <br> стилистов</h2>

			<div class="animitem animitem-1 half-ver2 rellax" data-rellax-speed="3" data-rellax-percentage="0.5"></div>
			<div class="animitem animitem-2 half-hor2 rellax" data-rellax-speed="2" data-rellax-percentage="0.5"></div>


			<div class="teamstyl__grid" data-aos="fade-up">
				<div class="teamstyl__item">
					<img alt="IMG" src="img/teamstyl-1.svg">
				</div>
				<div class="teamstyl__item">
					<img alt="IMG" src="img/teamstyl-2.svg">
				</div>
				<div class="teamstyl__item">
					<img alt="IMG" src="img/teamstyl-3.svg">
				</div>
				<div class="teamstyl__item">
					<img alt="IMG" src="img/teamstyl-4.svg">
				</div>
			</div>

			<div class="teamslider" data-aos="fade-up">
				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-1.jpg">
						</div>
						<div class="teamslider__info">
							<p>Коллекция авангардных образов от PROпорция на шоу показе In Flux</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-2.jpg">
						</div>
						<div class="teamslider__info">
							<p>Стилист Евгений, национальный финалист конкурса колористов Color Zoom 2019</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-3.jpg">
						</div>
						<div class="teamslider__info">
							<p>Топ-стилисты Виктор и Людмила принимают в гостях мировых звезд, британцев RUSH London</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-4.jpg">
						</div>
						<div class="teamslider__info">
							<p>Перфоманс от команды PROпорция на шоу-показе In Flux</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-5.jpg">
						</div>
						<div class="teamslider__info">
							<p>Модели от команды PROпорция на мастер-классе британцев RUSH London</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-6.jpg">
						</div>
						<div class="teamslider__info">
							<p>Шоу-показ от PROпорция на профессиональной выставке Невские берега</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-7.jpg">
						</div>
						<div class="teamslider__info">
							<p>Топ-стилист Людмила и мировая звезда Питер Грей готовят моделей для шоу Noise</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-8.jpg">
						</div>
						<div class="teamslider__info">
							<p>Топ-стилисты Виктор и Людмила и модели с их показа</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-9.jpg">
						</div>
						<div class="teamslider__info">
							<p>Перфоманс от стиистов PROпорция на шоу In Flux</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-10.jpg">
						</div>
						<div class="teamslider__info">
							<p>Перфоманс от стиистов PROпорция на шоу In Flux</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-11.jpg">
						</div>
						<div class="teamslider__info">
							<p>Коллекция образов Ethnic от PROпорция на международном конкурсе ColorZoom</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-12.jpg">
						</div>
						<div class="teamslider__info">
							<p>Топ-стилист Людмила с шоу-кейсом авангардный образ</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				
			</div>
		</div>
	</div>
</div>
