<div class="teamstyl" id="anchor-about">
	<div class="container">
		<div class="teamstyl__wrap">
			<h2 data-aos="fade-left">Звездная команда <br> стилистов</h2>

			<div class="animitem animitem-1 half-ver2 rellax" data-rellax-speed="3" data-rellax-percentage="0.5"></div>
			<div class="animitem animitem-2 half-hor2 rellax" data-rellax-speed="2" data-rellax-percentage="0.5"></div>


			<div class="teamstyl__grid" data-aos="fade-up">
				<div class="teamstyl__item">
					<img alt="IMG" src="img/tem-1.png" srcset="img/tem-1@2x.png 2x, img/tem-1@3x.png 3x">
				</div>

				<div class="teamstyl__item">
					<img alt="IMG" src="img/tem-2.png" srcset="img/tem-2@2x.png 2x, img/tem-2@3x.png 3x">
				</div>

				<div class="teamstyl__item">
					<img alt="IMG" src="img/tem-3.png" srcset="img/tem-3@2x.png 2x, img/tem-3@3x.png 3x">
				</div>

				<div class="teamstyl__item">
					<img alt="IMG" src="img/tem-4.png" srcset="img/tem-4@2x.png 2x, img/tem-4@3x.png 3x">
				</div>
			</div>

			<div class="teamslider" data-aos="fade-up">
				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="IMG" src="img/teamslider-1.jpg" srcset="img/teamslider-1@2x.jpg 2x, img/teamslider-1@3x.jpg 3x">
						</div>
						<div class="teamslider__info">
							<h3>Salon  International 2019</h3>
							<p>Ещё не успели поделиться впечатлениями от поездки наших стилистов в Лондон на самую престижную в Европе ежегодную выставку - SALON INTERNATIONAL 2019.</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="img" src="img/stylwork-1.jpg" srcset="img/stylwork-1@2x.jpg 2x, img/stylwork-1@3x.jpg 3x">
						</div>
						<div class="teamslider__info">
							<h3>Salon  International 2019</h3>
							<p>Ещё не успели поделиться впечатлениями от поездки наших стилистов в Лондон на самую престижную в Европе ежегодную выставку - SALON INTERNATIONAL 2019.</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>

				<div class="teamslider__item">
					<div class="teamslider__container">
						<div class="teamslider__img rellax" data-rellax-speed="1" data-rellax-percentage="0.5">
							<img alt="img" src="img/stylist-img-4.jpg" srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
						</div>
						<div class="teamslider__info">
							<h3>Salon  International 2019</h3>
							<p>Ещё не успели поделиться впечатлениями от поездки наших стилистов в Лондон на самую престижную в Европе ежегодную выставку - SALON INTERNATIONAL 2019.</p>
							<div class="teamslider__arrow">
								<div class="teamslider__prev">{{ M.svg("prev") }}</div>
								<div class="teamslider__next">{{ M.svg("next") }}</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
