.teamstyl {
	&__wrap {
		padding-top: 231px;
		padding-right: 56px;

		@media(max-width: 1080px) {
			padding-top: 100px;
			padding-right: 0;
		}

		@media(max-width: 580px) {
			padding-top: 58px;
		}

		h2 {
			margin-bottom: 170px;

			@media(max-width: 1080px) {
				margin-bottom: 80px;
			}

			@media(max-width: 580px) {
				margin-bottom: 58px;
			}
		}
	}

	&__grid {
		display: flex;
		justify-content: space-between;
		padding-bottom: 141px;

		@media(max-width: 992px) {
			padding-bottom: 50px;
		}

		@media(max-width: 680px) {
			flex-wrap: wrap;
		}

		@media(max-width: 580px) {
			padding-right: 20px;
			padding-bottom: 17px;
		}

	}

	&__item {
		width: 213px;

		@media(max-width: 1080px) {
			width: calc(25% - 30px);
		}

		@media(max-width: 680px) {
			width: calc(50% - 15px);
			margin-bottom: 25px;
		}

		img {
			width: 100%;
		}
	}

}

.teamslider {
	@media(max-width: 580px) {
		width: calc(100% + 22px);
	}
	.slick-slide {
		@media(max-width: 580px) {
			margin-left: 20px;
		}
	}

	.slick-list {
		@media(max-width: 580px) {
			padding: 0 15% 0 0;
			margin-left: -20px;
		}

		@media(max-width: 400px) {
			//padding: 0 40% 0 0;
		}
	}

	&__item {
		h3 {
			color: $black;
			margin-bottom: 18px;
		}

		p {
			font-size: 18px;
			font-weight: normal;
			line-height: 1.56;
			letter-spacing: normal;
			color: #1b1f26;

			@media(max-width: 580px) {
				font-size: 16px;
				line-height: 1.5;
				color: #1b1f26;
			}
		}
	}

	&__container {
		display: flex;
		align-items: center;

		@media(max-width: 992px) {
			align-items: flex-start;
		}

		@media(max-width: 580px) {
			display: block;
		}
	}

	&__img {
		max-width: 700px;

		@media(max-width: 1180px) {
			width: 50%;
		}

		@media(max-width: 580px) {
			width: 100%;
			height: 300px;
			overflow: hidden;
		}

		@media(max-width: 380px) {
			height: 172px;
		}

		img {
			max-width: 100%;
			width: 100%;
			object-fit: contain;
			object-position: top;

			@media(max-width: 580px) {
				width: auto;
				max-width: inherit;
				max-height: 100%;
			}

		}
	}

	&__info {
		flex: 1;
		padding-left: 100px;

		@media(max-width: 1180px) {
			padding-left: 50px;
		}

		@media(max-width: 767px) {
			padding-left: 20px;
		}

		@media(max-width: 580px) {
			padding-left: 0;
			padding-top: 35px;
			padding-right: 20px;

			h3 {
				font-size: 20px;
				font-weight: bold;
				line-height: 1.2;
				letter-spacing: normal;
				color: #1b1f26;
			}
		}


	}

	&__arrow {
		display: flex;
		width: 100%;
		margin-top: 50px;

		@media(max-width: 1180px) {
			margin-top: 30px;
		}

		@media(max-width: 580px) {
			display: none;
		}
	}

	&__prev {
		margin-right: 59px;
	}

	&__prev, &__next {
		width: 56px;
		height: 30px;
		cursor: pointer;
		transition: .2s;

		&:hover {
			opacity: .5;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}
}
