<div class="bourall" id="anchor-parice">
	<div class="container">
		<div class="bourall__wrap">
			<div class="animitem animitem-1 half-hor rellax" data-rellax-speed="3" data-rellax-percentage="0.5"></div>

			<div class="bourall__title" data-aos="fade-left">
				<span class="js__tab-ourall active">Наше всё</span>
				<span class="js__tab-ourall">Ещё…</span>
			</div>

			<div class="bourall__list" data-aos="fade-up">

				<div class="bourall__items active">
					<div class="bourall__item">
						<b>Стрижка</b>
						<span></span>
						<em>от 3 000 ₽</em>
						<p>Женская стрижка, мужска стрижка, детская стрижка коррекция стрижки</p>
					</div>

					<div class="bourall__item">
						<b>Окрашивание</b>
						<span></span>
						<em>от 12 000 ₽</em>
						<p>Bio — тонирование, color balance, ombre (брондирование), elumenирование, мелирование</p>
					</div>

					<div class="bourall__item">
						<b>Уход за волосами</b>
						<span></span>
						<em>от 4 800 ₽</em>
						<p>Mask,  treatment, pre — color,  anti — hairloss</p>
					</div>

					<div class="bourall__item">
						<b>Укладки / прически / косы</b>
						<span></span>
						<em>от 1 035 ₽</em>
						<p>Женская стрижка, мужска стрижка, детская стрижка коррекция стрижки</p>
					</div>

				</div>

				<div class="bourall__items">
					<div class="bourall__item">
						<b>Стрижка 1</b>
						<span></span>
						<em>от 3 000 ₽</em>
						<p>Женская стрижка, мужска стрижка, детская стрижка коррекция стрижки</p>
					</div>

					<div class="bourall__item">
						<b>Окрашивание</b>
						<span></span>
						<em>от 12 000 ₽</em>
						<p>Bio — тонирование, color balance, ombre (брондирование), elumenирование, мелирование</p>
					</div>

					<div class="bourall__item">
						<b>Уход за волосами</b>
						<span></span>
						<em>от 4 800 ₽</em>
						<p>Mask,  treatment, pre — color,  anti — hairloss</p>
					</div>

					<div class="bourall__item">
						<b>Укладки / прически / косы</b>
						<span></span>
						<em>от 1 035 ₽</em>
						<p>Женская стрижка, мужска стрижка, детская стрижка коррекция стрижки</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
