<div class="reputation">
	<div class="container">
		<div class="reputation__wrap">
			<h2 data-aos="fade-left	">Наша репутация <br>
				подтверждена <br>
				годами доверия <br>
				клиентов
			</h2>

			<div class="repslider-scroll" data-aos="fade-up">
				<div class="repslider">
					<div class="repslider__item">
						<i>
							<img alt="IMG" data-lazy="img/rep-1.png">
						</i>
						<b>Алиса</b>
						<span>5 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" data-lazy="img/rep-2.png">
						</i>
						<b>Елена</b>
						<span>10 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" data-lazy="img/rep-3.png">
						</i>
						<b>Ира</b>
						<span>9 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" data-lazy="img/rep-4.png">
						</i>
						<b>Мария</b>
						<span>6 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" data-lazy="img/rep-5.png">
						</i>
						<b>Наталья</b>
						<span>6 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" data-lazy="img/rep-6.png">
						</i>
						<b>Наталья</b>
						<span>11 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" data-lazy="img/rep-7.png">
						</i>
						<b>Ника</b>
						<span>10 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" data-lazy="img/rep-8.png">
						</i>
						<b>Полина</b>
						<span>12 лет с нами</span>
					</div>
				</div>
			</div>


			<div class="reputation__btn">
				<button class="btn btn--border js__openrew">
					{{ M.svg("chat") }}
					<span>Читать отзывы</span>
				</button>
			</div>
		</div>

		<div class="readrew">

			<div class="readrew__item js__readrew active">
				<img alt="IMG" src="img/rew-1.jpg">
			</div>

			<div class="readrew__item js__readrew active">
				<img alt="IMG" src="img/rew-2.jpg">
			</div>

			<div class="readrew__item js__readrew active">
				<img alt="IMG" src="img/rew-3.jpg">
			</div>

			<div class="readrew__item js__readrew active">
				<img alt="IMG" src="img/rew-4.jpg">
			</div>

			<div class="readrew__item js__readrew active">
				<img alt="IMG" src="img/rew-5.jpg">
			</div>
			
			
			{# ==== #}
			<div class="readrew__item js__readrew active">
				<img alt="IMG" src="img/newrew1.jpeg">
			</div>

			<div class="readrew__item js__readrew">
				<img alt="IMG" src="img/newrew2.jpeg">
			</div>

			<div class="readrew__item js__readrew">
				<img alt="IMG" src="img/newrew3.jpeg">
			</div>

			<div class="readrew__item js__readrew">
				<img alt="IMG" src="img/newrew4.jpeg">
			</div>


			<div class="readrew__btn js__readrew-more">
				<a href="#Ещё-отзывы" class="btn btn--border">Ещё отзывы</a>
			</div>
		</div>
	</div>
</div>
