<div class="reputation">
	<div class="container">
		<div class="reputation__wrap">
			<h2>Наша репутация <br>
				подтверждена <br>
				годами доверия <br>
				клиентов
			</h2>

			<div class="repslider-scroll">
				<div class="repslider">
					<div class="repslider__item">
						<i>
							<img alt="IMG" src="img/repimg-1.jpg" srcset="img/repimg-1@2x.jpg 2x, img/repimg-1@3x.jpg 3x">
						</i>
						<b>Жанна</b>
						<span>5 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" src="img/repimg-2.jpg" srcset="img/repimg-2@2x.jpg 2x, img/repimg-2@3x.jpg 3x">
						</i>
						<b>Изабелла</b>
						<span>7 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" src="img/repimg-3.jpg" srcset="img/repimg-3@2x.jpg 2x, img/repimg-3@3x.jpg 3x">
						</i>
						<b>Виктория</b>
						<span>7 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" src="img/repimg-4.jpg" srcset="img/repimg-4@2x.jpg 2x, img/repimg-4@3x.jpg 3x">
						</i>
						<b>Изабелла</b>
						<span>7 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" src="img/repimg-1.jpg" srcset="img/repimg-1@2x.jpg 2x, img/repimg-1@3x.jpg 3x">
						</i>
						<b>Жанна</b>
						<span>5 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" src="img/repimg-2.jpg" srcset="img/repimg-2@2x.jpg 2x, img/repimg-2@3x.jpg 3x">
						</i>
						<b>Изабелла</b>
						<span>5 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" src="img/repimg-3.jpg" srcset="img/repimg-3@2x.jpg 2x, img/repimg-3@3x.jpg 3x">
						</i>
						<b>Виктория</b>
						<span>5 лет с нами</span>
					</div>

					<div class="repslider__item">
						<i>
							<img alt="IMG" src="img/repimg-4.jpg" srcset="img/repimg-4@2x.jpg 2x, img/repimg-4@3x.jpg 3x">
						</i>
						<b>Изабелла</b>
						<span>5 лет с нами</span>
					</div>
				</div>
			</div>


			<div class="reputation__btn">
				<button class="btn btn--border js__openrew">
					{{ M.svg("chat") }}
					<span>Читать отзывы</span>
				</button>
			</div>
		</div>

		<div class="readrew">
			<div class="readrew__item">
				<img alt="IMG" src="img/rew-1.jpg">
			</div>

			<div class="readrew__item">
				<img alt="IMG" src="img/rew-2.jpg">
			</div>

			<div class="readrew__item">
				<img alt="IMG" src="img/rew-3.jpg">
			</div>

			<div class="readrew__item">
				<img alt="IMG" src="img/rew-4.jpg">
			</div>

			<div class="readrew__item">
				<img alt="IMG" src="img/rew-5.jpg">
			</div>

			<div class="readrew__btn ">
				<a href="#Ещё-отзывы" class="btn btn--border">Ещё отзывы</a>
			</div>
		</div>
	</div>
</div>
