<div class="brands">
	<div class="container">
		<div class="brands__wrap">
			<h2 data-aos="fade-left">Работаем <br> с ведущими брэндами </h2>

			<div class="brands-slider" data-aos="fade-up">
				<div class="brands-slider__item">
					<img alt="IMG" src="img/brand-1.png" srcset="img/brand-1@2x.png 2x, img/brand-1@3x.png 3x">
				</div>

				<div class="brands-slider__item">
					<img alt="IMG" src="img/brand-2.png" srcset="img/brand-2@2x.png 2x, img/brand-2@3x.png 3x">
				</div>

				<div class="brands-slider__item">
					<img alt="IMG" src="img/brand-3.png" srcset="img/brand-3@2x.png 2x, img/brand-3@3x.png 3x">
				</div>

				<div class="brands-slider__item">
					<img alt="IMG" src="img/brand-4.png" srcset="img/brand-4@2x.png 2x, img/brand-4@3x.png 3x">
				</div>

				<div class="brands-slider__item">
					<img alt="IMG" src="img/brand-1.png" srcset="img/brand-1@2x.png 2x, img/brand-1@3x.png 3x">
				</div>

			</div>
		</div>
	</div>
</div>
