.svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.svg-chat {
	font-size:(38/10)*1rem;
	width:(49/38)*1em;
}
.svg-instagram {
	font-size:(53/10)*1rem;
	width:(53/53)*1em;
}
.svg-next {
	font-size:(29/10)*1rem;
	width:(53/29)*1em;
}
.svg-prev {
	font-size:(29/10)*1rem;
	width:(53/29)*1em;
}
.svg-totop {
	font-size:(28.51/10)*1rem;
	width:(27.01/28.51)*1em;
}
.svg-vk {
	font-size:(41/10)*1rem;
	width:(70/41)*1em;
}
