<div class="stylistwork">
	<div class="container">
		<div class="stylistwork__wrap">
			<h2 data-aos="fade-left">Итак, ты в кресле <br> у нашего стилиста:</h2>

			<div class="animitem animitem-1 half-hor2 rellax" data-rellax-speed="3" data-rellax-percentage="0.5"></div>


			<div class="stylistwork__grid" >
				<div class="stylistwork__tab" data-aos="fade-left">
					<div class="stylistwork__item js__stylwork-tab active">
						<i>
							<img alt="IMG" src="img/stylwork-1.jpg">
						</i>
						<b>Интервью и подбор образа</b>
						<p>Стилист узнает какой ты хочешь быть сегодня, предложит варианты, расскажет, что тебе идет</p>
					</div>

					<div class="stylistwork__item js__stylwork-tab">
						<i>
							<img alt="IMG" src="img/stylwork-2.jpg">
						</i>
						<b>Стрижка / окрашивание</b>
						<p>Сделает в лондонской технике “точной стрижки”, материалы премиум качества</p>
					</div>

					<div class="stylistwork__item js__stylwork-tab">
						<i>
							<img alt="IMG" src="img/stylwork-3.jpg">
						</i>
						<b>Имиджирование</b>
						<p>Покажет как самой делать разные укладки быстро и удобно.</p>
					</div>
				</div>
				<div class="stylistwork__images rellax" data-aos="fade-up" data-rellax-percentage="0.5">
					<div class="stylistwork__pic active ">
						<img alt="IMG" src="img/stylwork-1.jpg">
					</div>

					<div class="stylistwork__pic ">
						<img alt="IMG" src="img/stylwork-2.jpg">
					</div>

					<div class="stylistwork__pic ">
						<img alt="IMG" src="img/stylwork-3.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
