<div class="stylistwork">
	<div class="container">
		<div class="stylistwork__wrap">
			<h2>Итак, ты в кресле <br> у нашего стилиста:</h2>



			<div class="stylistwork__grid">
				<div class="stylistwork__tab">
					<div class="stylistwork__item js__stylwork-tab active">
						<i>
							<img src="img/stylwork-1.jpg" srcset="img/stylwork-1@2x.jpg 2x, img/stylwork-1@3x.jpg 3x">
						</i>
						<b>Интервью и подбор образа</b>
						<p>Стилист узнает какой ты хочешь быть сегодня, предложит варианты, расскажет, что тебе идет</p>
					</div>

					<div class="stylistwork__item js__stylwork-tab">
						<i>
							<img src="img/stylist-img-1.jpg" srcset="img/stylist-img-1@2x.jpg 2x, img/stylist-img-1@3x.jpg 3x">
						</i>
						<b>Стрижка / окрашивание</b>
						<p>Сделает в лондонской технике “точной стрижки”, материалы премиум качества</p>
					</div>

					<div class="stylistwork__item js__stylwork-tab">
						<i>
							<img src="img/stylist-img-4.jpg" srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
						</i>
						<b>Имиджирование</b>
						<p>Покажет как самой делать разные укладки быстро и удобно.</p>
					</div>
				</div>
				<div class="stylistwork__images">
					<div class="stylistwork__pic active">
						<img src="img/stylwork-1.jpg" srcset="img/stylwork-1@2x.jpg 2x, img/stylwork-1@3x.jpg 3x">
					</div>

					<div class="stylistwork__pic">
						<img src="img/stylist-img-1.jpg" srcset="img/stylist-img-1@2x.jpg 2x, img/stylist-img-1@3x.jpg 3x">
					</div>

					<div class="stylistwork__pic">
						<img src="img/stylist-img-4.jpg" srcset="img/stylist-img-4@2x.jpg 2x, img/stylist-img-4@3x.jpg 3x">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
