<div class="registration">
	<div class="container">
		<div class="registration__wrap">
			<div class="registration__title">
				<h3>Запишитесь на стрижку или окрашивание мечты</h3>
			</div>

			<div class="registration__form">
				<form action="">
					<div class="registration__form-input">
						<input class="color-white" type="text" placeholder="Ваше имя">
					</div>

					<div class="registration__form-input">
						<input class="color-white phone" type="text" placeholder="Ваш телефон">
					</div>

					<div class="registration__form-input">
						<button type="submit" class="btn">Записаться</button>
					</div>

					<div class="registration__form-input">
						<span>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
