<footer class="footer">
	<div class="container">
		<div class="footer__wrap">
			<div class="footer__head">
				<div>
					<h2>Контакты</h2>
				</div>

				<div class="social">
					<a href="#vk" class="vk">{{ M.svg("vk") }}</a>
					<a href="#instagram">{{ M.svg("instagram") }}</a>
				</div>

			</div>

			<div class="mapslider">
				<div class="mapslider__item">
					<em>ежедневно 10:00 - 21:00</em>
					<a href="tel:+7(921)343-07-43">+7 (921) 343-07-43</a>
					<span>м. Спортивная (5 мин), <br> Ждановская набережная, дом 3</span>
					<iframe src="https://yandex.ru/map-widget/v1/-/CKAbF08S" allowfullscreen="true"></iframe>
				</div>

				<div class="mapslider__item">
					<em>ежедневно 10:00 - 21:00</em>
					<a href="tel:++7(911)736-46-13">+7 (911) 736-46-13</a>
					<span>м. Технологический институт <br> Клинский проспект, дом 24</span>
					<iframe src="https://yandex.ru/map-widget/v1/-/CKAb66ZQ" allowfullscreen="true"></iframe>
				</div>
			</div>

			<div class="copyright">
				<div>
					<b>© 2019 ООО «Пропорция»</b>
					<span>Студия красоты, стрижка, окрашивание, маникюр</span>
				</div>

				<img src="ico/page-1.svg" alt="IMG">
			</div>
		</div>
	</div>
</footer>
