<div class="menu js__menu">
	<div class="container-second">
		<div class="menu__wrap">
			<a href="/" class="menu__logo">
				<img src="ico/logo.png" srcset="ico/logo@2x.png 2x, ico/logo@3x.png 3x" alt="IMG">
			</a>

			<nav class="menu__nav js__menu-nav">
				<a href="#Услуги">Услуги</a>
				<a href="#Портфолио">Портфолио</a>
				<a href="#Прайс">Прайс</a>
				<a href="#О-студии">О студии</a>
				<a href="#Контакты">Контакты</a>

				<a href="#popup--reg" data-fancybox class="menu__nav-reg">Записаться on-line</a>
			</nav>

			<div class="menu__phone">
				<a href="tel:+7(921)343-07-43">+7 (921) 343-07-43</a>
				<a href="#popup--reg" class="regonline" data-fancybox>Записаться on-line</a>
			</div>

			<div class="menu__regonline">
				<a href="#popup--reg" data-fancybox>Записаться on-line</a>
			</div>

			<div class="menu__btn js__toggle-menu">
				<span></span>
			</div>
		</div>
	</div>
</div>

