<div class="menu">
	<div class="container-second">
		<div class="menu__wrap">
			<a href="/" class="menu__logo">
				<img src="ico/logo.png" srcset="ico/logo@2x.png 2x, ico/logo@3x.png 3x">
			</a>

			<nav class="menu__nav">
				<a href="#Услуги">Услуги</a>
				<a href="#Портфолио">Портфолио</a>
				<a href="#Прайс">Прайс</a>
				<a href="#О-студии">О студии</a>
				<a href="#Контакты">Контакты</a>
			</nav>

			<div class="menu__phone">
				<a href="tel:+7(921)343-07-43">+7 (921) 343-07-43</a>
			</div>

			<div class="menu__regonline">
				<a href="#Записаться-on-line">Записаться on-line</a>
			</div>
		</div>
	</div>
</div>

