<div class="menu js__menu">
	<div class="container-second">
		<div class="menu__wrap">
			<a href="/" class="menu__logo">
				<img src="ico/logo.png" srcset="ico/logo@2x.png 2x, ico/logo@3x.png 3x" alt="IMG">
			</a>

			{# Услуги - вот это не понимаю, в понедельник смогу уточнить с утра.
			Портфолио - плавно скроллит в раздел под шапкой, "Работы стилистов"
			Прайс - плавно скроллит в раздел  с табами "Наше всё / ещё..."
			О студии - "Звёздная команда стилистов"
			Контакты - соответственно, "Контакты" #}


			<nav class="menu__nav js__menu-nav">
				<a href="#anchor-service" data-anchor>Услуги</a>
				<a href="#anchor-portofolio" data-anchor>Портфолио</a>
				<a href="#anchor-service" data-anchor>Прайс</a>
				<a href="#anchor-about" data-anchor>О студии</a>
				<a href="#anchor-contact" data-anchor>Контакты</a>

				<a href="" class="menu__nav-reg js__isoandroid">Записаться on-line</a>
			</nav>

			<div class="menu__phone">
				<a href="tel:+7(921)343-07-43">+7 (921) 343-07-43</a>
				<a href="" class="regonline js__isoandroid">Записаться on-line</a>
			</div>

			<div class="menu__regonline">
				<a href="#popup--reg" data-fancybox>Записаться on-line</a>
			</div>

			<div class="menu__btn js__toggle-menu">
				<span></span>
			</div>
		</div>
	</div>
</div>

