{# Include #}
{% extends "inc/main.njk" %}

{# Title #}
{% set title = "Index" %}

{# Dop Class #}
{#{% set htmlClass = "htmlClass" %}#}
{#{% set bodyClass = "bodyClass" %}#}


{% block content %}
    {# {% include "b-totop/b-totop.njk" %} #}
    {% include "menu/menu.njk" %}
    {% include "header/header.njk" %}
    {% include "b-stylist/b-stylist.njk" %}
    {% include "b-brands/b-brands.njk" %}
    {% include "b-ourall/b-ourall.njk" %}
    {% include "b-stylistwork/b-stylistwork.njk" %}
    {% include "b-reghaircut/b-reghaircut.njk" %}
    {% include "b-teamstyl/b-teamstyl.njk" %}
    {% include "b-stylstudy/b-stylstudy.njk" %}
    {% include "b-registration/b-registration.njk" %}
    {% include "b-reputation/b-reputation.njk" %}
    {% include "footer/footer.njk" %}
    {% include "b-popup/b-popup.njk" %}
{% endblock %}
